            <div id="body_content">
                <div id="banner-slider">
                    <%= image_tag('footballshirt/home/football_story_banner_770.jpg') %>
                </div>
            </div>
            <!-- body_content -->