<div id="footer">
  <div class="container_16">
    <div class="grid_10 prefix_3 suffix_3">
      <div id="footer-nav" class="clearfix">
        <ul>
          <li class="first"><a href="/">HOME</a></li>
          <li><a href="/legal-info">TERMS & CONDITIONS</a></li>
          <li><a href="/shipping-and-return">SHIPPING & RETURN</a></li>
          <li><a href="/faq">FAQs</a></li>
          <li><a href="/about-us">ABOUT US</a></li>
          <li class="last"><a href="<%= tickets_path %>">CONTACT US</a></li>
        </ul>
        <div class="clear"></div>
      </div>

    </div>

  </div>
</div>

<div id="footer">
  <div class="container_16">
    <div class="grid_10 prefix_3 suffix_3">

        <%= link_to image_tag('facebook-icon.gif'), "http://www.facebook.com/thefootballshirtdotcom" %>
        <%= link_to image_tag('follow-us-on-twitter.jpeg'), "https://twitter.com/#!/thefootballshir" %>




    </div>
  </div>
</div>

<%= render 'shared/google_analytics' %>
<!-- footer -->