<% 
	#@taxons = @taxon && @taxon.parent ? @taxon.parent.children : Taxon.roots  
%> 
<%= form_tag products_url, :method => :get ,:class =>"search-box" do %>
  <%
   # select_tag :taxon, 
   #     options_for_select([[t(:all_departments), '']] + 
   #                           @taxons.map {|t| [t.name, t.id]}, 
   #                         @taxon ? @taxon.id : params[:taxon]) 
   %>
  <p><%= text_field_tag :keywords, params[:keywords], :maxlength => '25' %></p>
  <%= submit_tag t(:search), :name => nil %>
<% end %>
