            <div id="payment-sidebar">
                <div class="head-sidebar"></div>
                <div class="body-sidebar product-categories">
                    <h2>Payment</h2>
                    <span class="sidebar-header-line"></span>
                        <a href="#" class="paypal-veried"></a>
                </div>
                <div class="footer-sidebar"></div>
            </div>
            <!-- payment sidebar -->