<div id="best-seller-sidebar">
  <div class="head-sidebar"></div>
  <div class="body-sidebar product-categories">
    <h2>Best Seller</h2>
    <span class="sidebar-header-line"></span>


    <div id="taxonomies" class="sidebar-item2">
      <ul>
        <li>
          <a href="#" class="root">1. Manchester United Away JONES No.4</a>
        </li>
        <li>
          <a href="#">2. Manchester United Away ROONEY </a>
        </li>
        <li>
          <a href="#">3. Barcelona Home Messi 10</a>
        </li>
        <li>
          <a href="#">4. Real Madrid Home Ronaldo</a>
        </li>
        <li>
          <a href="#">5. Liverpool Home </a>
        </li>


      </ul>
    </div>


  </div>
  <div class="footer-sidebar"></div>
</div>