<div class="grid_13" style="margin-right: 0;width:770px;">
  <div id="body_content">
    <div id="banner-slider">
      <%= image_tag('footballshirt/home/football_story_banner_770.jpg') %>
    </div>
  </div>
</div>