<div class="grid_13" style="margin-right: 0;width:770px;">
  <div id="body_content">
    <div class="top-box-770"></div>
    <div class="title">
      <%= t(:no_products_found) %>
    </div>
    <div class="footer-770"></div>
  </div>
</div>