<div class="grid_3" style="width:170px; margin-left: 0px;">
  <%= render "shared/footballshirt/sidebar/categories_sidebar" %>
  <div class="clear"></div>
  <%= render "shared/footballshirt/sidebar/cart_sidebar" %>
  <%= render "shared/top_seller" %>

</div>
<!-- grid_3 sidebar-->