            <div id="body_content">
                <div id="banner-slider">
                    <%= image_tag('footballshirt/home/football_story_banner.jpg') %>
                </div>
                <div class="top-box"></div>
                <div class="title">
                    <% if flash.notice %>
                        <div class="flash notice"><%= flash.notice %></div>
                    <% end %>
                    <% if flash[:error] %>
                        <div class="flash errors"><%= flash[:error] %></div>
                    <% end %>
                    <p class="topic_item">Welcome to Footballshirtmarket.com</p>
                    <p>Find the largest collection of football shirt online at your finger tips. <br/>
                         The online football shirt store has all of your favourite club and<br/>
                         national teams football shirts and offering in very reasonable prices. Let's find out more.</p>
                    <br/>
                </div>
                <div class="content">
                    <p class="topic_item">Safe and Secure</p>
                    <p>Safe and secure when you buy from Footballshirtmarket.com</p>
                    <p>- You not need to add any credit card in this website.We will not ask you  any credit card information from you.</p>
                    <p>- We accept payment by Paypal. It's safe and secure.</p>
                    <p>- PayPal is the safer, easier way to pay and get paid online.  The service allows anyone to pay in any way they prefer,
                        including   through credit cards, bank accounts, buyer credit or account balances,   without sharing  financial information.</p>
                </div>
                <div class="footer"></div>
                <!-- welcom msg -->
            </div>
            <!-- body_content -->