* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


body {
    height: 100%;
    color: #a4a4a4;
    cursor: default;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    background-color: #000;
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-family: Tahoma, sans-serif;


}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a img {
    border: 0;
}
img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
}
div.wrap {
    width: 690px;
    margin: 0 auto;
    text-align: left;
}

div#top div#nav {
    float: left;
    clear: both;
    width: 690px;
    height: 52px;
    margin: 22px 0 0;
}

div#top div#nav ul {
    float: left;
    width: 700px;
    height: 52px;
    list-style-type: none;
}

div#nav ul li {
    float: left;
    height: 52px;
}

div#nav ul li a {
    border: 0;
    height: 52px;
    display: block;
    line-height: 52px;
    text-indent: -9999px;
}

div#header {
    margin: -1px 0 0;
}

div#video-header {
    /*height : 683px;*/
    margin: -1px 0 0;
}

div#header div.wrap {
    height: 299px;
    /*background : url(/images/store3/header-bg.png) no-repeat 50% 0;*/
}

div#header div#slide-holder {
    z-index: 40;
    width: 690px;
    height: 370px;
    position: absolute;
}

div#header div#slide-holder div#slide-runner {
    top: 9px;
    left: 9px;
    width: 690px;
    height: 370px;
    overflow: hidden;
    position: absolute;
}

div#header div#slide-holder img {
    margin: 0;
    display: none;
    position: absolute;
}

div#header div#slide-holder div#slide-controls {
    left: 0;
    bottom: 0px;
    width: 690px;
    height: 46px;
    display: none;
    position: absolute;
    /*background : url(/images/store3/slide-bg.png) 0 0;*/
}

div#header div#slide-holder div#slide-controls p.text {
    float: left;
    color: #fff;
    display: inline;
    font-size: 10px;
    line-height: 16px;
    margin: 15px 0 0 20px;
    text-transform: uppercase;
}

div#header div#slide-holder div#slide-controls p#slide-nav {
    float: right;
    height: 24px;
    display: inline;
    margin: 11px 15px 0 0;
}

div#header div#slide-holder div#slide-controls p#slide-nav a {
    float: left;
    width: 24px;
    height: 24px;
    display: inline;
    font-size: 11px;
    margin: 0 5px 0 0;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-position: 0 0;
    background-repeat: no-repeat;
}

div#header div#slide-holder div#slide-controls p#slide-nav a.on {
    background-position: 0 -24px;
}

div#header div#slide-holder div#slide-controls p#slide-nav a {
    background-image: url(/images/store3/silde-nav.png);
}

div#nav ul li a {
    background: url(/images/store3/nav.png) no-repeat;
}


.show-product {
    font-size: 16px;
}


/* product thumbnail costomization */

#thumbnails ul#product-thumbnails{
    list-style: none;
}
#thumbnails ul#product-thumbnails li{
    float: left;
}
#product-images #main-image{
    margin-top: 20px;
}
#product-images #main-image img{
    margin: 0 auto;
    display: block;
}
#product-images #thumbnails{
    margin-top: 20px;
}
#product-images #thumbnails ul#product-thumbnails li{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}
#product-images #thumbnails ul#product-thumbnails li.selected{
    border: 2px solid #333333;
}
#body_content .customize fieldset label  { width: 60px; }
#body_content .customize #cart-form #product-customizations ol li label{ float: left; width: 65px;}
#body_content .customize #cart-form { padding-left: 250px; padding-right: 230px; }
#body_content .customize {
    margin-top: 10px;
    /*background: #E5E5E5;
    border: 1px solid #CCC;
    border-radius: 10px;*/
    padding: 20px;
    border-image: initial;
    text-align: left;
}
.order-description{
    text-align: left;
    font-size: 13px;
}
#body_content{
    text-align: left;
}
#body_content h1{
    text-align: center;
    font-size: 14px;
}

#body_content .content-960 table#cart-detail{
    width: 100%;
    border-collapse: collapse;
}
#body_content .content-960 table#cart-detail tbody tr{
    border-bottom: 1px solid #ddd;
}
#body_content .content-960 table#cart-detail thead{
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: bold;
}
#body_content .content-960 table#cart-detail thead tr th{
    padding-bottom: 10px;
}
#body_content .content-960 table#cart-detail tbody tr td{
    padding-top: 10px;
    padding-bottom: 10px;
}
#body_content .content-960 table#cart-detail tbody tr td dl{
    margin-left: 10px;
}
#body_content .content-960 table#cart-detail tbody tr td dl dd{
    margin-left: 2.5em;
}
#body_content .content-960 table#cart-detail tbody tr td h4{
    font-weight: normal;
    color: #222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
#body_content .content-960 table#cart-detail tbody tr td h4 a{
    color: #333333;
}
#body_content .content-960 table#cart-detail{
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
#body_content .content-960 form#updatecart #subtotal{
    float: right;
    text-align: left;
    display: block;
    height: 150px;
}
#body_content .content-960 #subtotal h3{
    font-size: 19px;
    font-weight: normal;
}


#body_content .content-960 button,
#body_content .content-960 a.button,
#body_content .content-960 input.button{
    border-radius: 0.5em;
    background: #EFEFEF url(../../images/footballshirt/body_content/bg-button.png) center left repeat-x !important;
    border-style: solid;
    border-width: 1px !important;
    border-color: #ddd #999 !important;
    padding: 8px 25px;
    text-decoration: none;
    text-transform: lowercase;
    width: auto;
    height: auto;
    cursor: pointer;
    color: #333333;
    margin-top: 15px;
    font-weight: bold;
    font-size: 12px;


}

div#checkout{
    position: relative;
}
div#checkout .progress-steps {
    position: absolute;
    top: 0.5em;
    right: 0;
}
ol.progress-steps {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 12px;
}
ol.progress-steps li.current-first {
    color: #FFFFFF;
}
ol.progress-steps li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    float: left;
    color: #999;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(../../images/step-progress/incomplete-incomplete.gif);
}
ol.progress-steps li.current-first {
    background-image: url(../../images/step-progress/current-first.gif);
}
ol.progress-steps li.next {
    background-image: url(../../images/step-progress/current-incomplete.gif);
}
ol.progress-steps li.last span {
    background-image: url(../../images/step-progress/incomplete-right.gif);
}
ol.progress-steps li span {
    padding: 5px 14px 7px 24px;
    display: block;
    float: left;
    background-position: top right;
    background-repeat: no-repeat;
}
ol.progress-steps li.current-first span {
    padding-left: 14px;
}
div#checkout-summary {
    background-color: #C3C9DF;
    float: right;
    margin-top: 10px;
    padding: 20px;
    width: 180px;
    margin-top: 50px;
    display: block;
    border-radius: 10px;
}
br[clear=left] {
    clear: left;
}
#body_content .content-960 form#checkout_form_delivery{
    margin-top: 10px;
}
#body_content .content-960 form#checkout_form_delivery legend {
    font-size: 150%;
    margin-bottom: 0.5em;
}
#body_content .content-960 hr.space {
    /*background: #DDD;*/
    color: #DDD;
    clear: both;
    float: none;
    width: 100%;
    height: 0.1em;
    margin: 0 0 1.45em;
    border: none;
    /*background: white;*/
    /*color: white;*/
}
ol.progress-steps li.completed-first {
    background-image: url(../../images/step-progress/completed-first.gif) !important;
}
ol.progress-steps li.current {
    background-image: url(../../images/step-progress/completed-current.gif);
}
ol.progress-steps li.next-last {
    background-image: url(../../images/step-progress/current-incomplete.gif);
}
ol.progress-steps li.next-last span {
    background-image: url(../../images/step-progress/incomplete-right.gif);
}
ol.progress-steps li.current {
    color: white;
}

#page_content{
    text-align: left;
}




/*  Check out  */

