<table>
  <tr>
    <td><label>IP</label></td>
    <td><%= text_field :black_list, :ip, {"style" => "width:150px"} %></td>
  </tr>
  <tr>
    <td><label>Reason</label></td>
    <td><%= text_field :black_list, :reason, {"style" => "width:300px"} %></td>
  </tr>

</table>
