<form name="Form1" method="post" action="/content/hk/en/express/tracking.shtml" id="Form1">


	<div>

		<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBALA0bj2CwLSwsHqCQKnkuHVBgLvz/GACqjMFYVUiyC4ILu/Q9Kohz6Edrgq" >
	</div>

	Tracking Number : <input name="AWB" type="text" maxlength="13" id="TextBarcode" title="Please Type Barcode" value="RB256358752HK" >

	<input type="submit" value="Check">
</form>



