<div class="menu_product">
  <div class="menu_product2">
    <p>Product Categories</p>
    <div id="menu">
      <div><img src="/images/store3/line-menu-product.png" width="201" height="1"/></div>
      <div class="space_bottom_top">
        <a href="#" title="English Team"><img src="/images/store3/arrow-menu.png" width="8" height="6"/> English
          Team</a></div>
      <div><img src="/images/store3/line-menu-product.png" width="201" height="1"/></div>
      <div class="space_bottom_top">
        <a href="#" title="Ltalian Team"><img src="/images/store3/arrow-menu.png" width="8" height="6"/> Ltalian
          Team</a></div>
      <div><img src="/images/store3/line-menu-product.png" width="201" height="1"/></div>
      <div class="space_bottom_top">
        <a href="#" title="Spanish Team"><img src="/images/store3/arrow-menu.png" width="8" height="6"/> Spanish
          Team</a></div>
      <div><img src="/images/store3/line-menu-product.png" width="201" height="1"/></div>
      <div class="space_bottom_top">
        <a href="#" title="Nationl Team"><img src="/images/store3/arrow-menu.png" width="8" height="6"/> Nationl
          Team</a></div>
      <div><img src="/images/store3/line-menu-product.png" width="201" height="1"/></div>
      <div class="space_bottom_top">
        <a href="#" title="French Team"><img src="/images/store3/arrow-menu.png" width="8" height="6"/> French Team</a>
      </div>
      <div><img src="/images/store3/line-menu-product.png" width="201" height="1"/></div>
      <div class="space_bottom_top">
        <a href="#" title="German Team"><img src="/images/store3/arrow-menu.png" width="8" height="6"/> German Team</a>
      </div>
      <div><img src="/images/store3/line-menu-product.png" width="201" height="1"/></div>
      <div class="space_bottom_top">
        <a href="#" title="Other Team"><img src="/images/store3/arrow-menu.png" width="8" height="6"/> Other Team</a>
      </div>
      <div><img src="/images/store3/line-menu-product.png" width="201" height="1"/></div>
      <div class="space_bottom_top">
        <a href="#" title="Euro 2008 Team"><img src="/images/store3/arrow-menu.png" width="8" height="6"/> Euro 2008
          Team</a></div>
      <div><img src="/images/store3/line-menu-product.png" width="201" height="1"/></div>
    </div>

  </div>

</div>




